@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    display: block;
}
/* End Reset */

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* End Utility Classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: linear-gradient(to left, steelblue, white);
  background-image: linear-gradient(to right, steelblue, white);
  background-image: linear-gradient(to top, steelblue, white);
  background-image: linear-gradient(to bottom, steelblue, white);
  background-image: url("../img/bubbles.png"), 
                    linear-gradient(to left, steelblue, white);
  background-repeat: repeat-y, no-repeat;
  background-position: right center;
  background-size: 20%, auto;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    /* background-color: rgb(251, 210, 156);
    background-image: url('../img/map-2176x1451.png');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat;
    background-size: cover;
    background-size: contain;
    background-size: cover; */

    background-color: rgba(175, 175, 175, 0.403);
    
}

.h1 {
    font-size: 500%;
    color:aliceblue;
    text-shadow: 2px 2px 5px black;
    /* background-color: rgba(0, 0, 0, 0.342);
    padding: 0.25rem;
    border-radius: 10px; */

}

.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('../img/map-2176x1451.png');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat;
    background-size: cover;
    background-size: contain;
    background-size: cover;
    background-position: center center;
    background-position: top right;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url("../img/scenic-2200x1331.png");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.205);
    color: transparent;
}
