* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    border: 6px outset red;
    /* border-radius: 50%; */
    /* width: 50%; */
    font-size: 1.5rem;
    margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: 5px;
}

/* header {
    width: 50%;
} */

main {

    background-color: skyblue;
    font-size: 2rem;
    min-height: 100vh;
}

p {
    font-size: 2rem;  
    /* root size font */
    /* font-size: 2em;   */
    /* parent size font */
     /* 40 characters in line */
}

.circle {
    margin: 3rem auto;
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 2px solid black;
    outline: 2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50%;
}


/* html {
    font-size: 1rem;
} */