@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/* Block level elements vs inline level elements */

/* Block level elements have 100% width and they stack on top of each other  */

/* 
p {
    background-color: lightgray;
}

.opposite {
    display: none;
    display: block;
    display: inline;
    display: inline-block;     
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
    margin-top: 100px;
    height: 200px;
}

ul {
    list-style-type: none;
    padding: 1rem;
    text-align: right;
    background-color: black;
    margin: 0;
}

li {
    display: inline-block;
    margin-inline: 1rem;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
} */

.block {
    width: 30vw;
    height: 30vw;
    background-color: lightgreen;
    padding: 1rem;
   
}

.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
    margin-right: 20px;
}

.clear {
    clear: both;
}

section {
    background-color: lightpink;
    border: 1px solid black;
    padding: 1rem;
    /* overflow: auto; */
    display: flow-root;
}