* {
    font-family: monospace;
}

body {
    font-size: 22px;
    border: 3px solid black;
    padding: 5px;
    padding-top: 0;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

p {
    color: red;
}

p span {
    text-transform: uppercase;
    background-color: gold;
    color: black;
    color: inherit;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}