
body {
    font-size: 22px;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 5px;
    padding-top: 0;
    background: papayawhip;
    color: black;
    color: #333;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    color: black;
}

p {
    /* color: purple; */
}

p {
    /* color: red; */
}

p span {
    text-transform: uppercase;
    background-color: gold;
    color: black;
    color: inherit;
}

.gray {
    /* color: gray; */
}

#second {
    font-style: italic;
}