@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    padding: 10%;
    font-size: 2rem;
    /* font-family: serif;
    font-family: sans-serif;
    font-family: monospace;
    font-family: cursive;
    font-family: fantasy; */
    font-family: 'Courier New', Courier, monospace;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Roboto', sans-serif;

}

/* input, button {
    font: inherit;
} */

p {
    /* text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none; */

    /* text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase; */

    /* text-align: left;
    text-align: justify;
    text-align: right;
    text-align: left; */

    /* text-indent: 2em; */
/* 
    line-height: 1.5; */

    /* letter-spacing: 0.1em;
    word-spacing: 1em; */

    /* font-weight: 900; */

    /* font-style: italic;
    font-style: oblique; */


}

a {
    text-decoration: underline;
    text-decoration: none;

    cursor: not-allowed;
    cursor: pointer;

    color: blue;
}

a:visited {
    color: saddlebrown;
}

a:hover, a:focus {
    color: salmon;
    opacity: 0.6;
}

a:active {
    color: red;
}

ol {
    list-style-type: lower-alpha;
    list-style-type: georgian;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: disc;
    list-style-type: circle;
    list-style-type: upper-roman;
    list-style-type: lower-alpha;
    /* list-style-type: none; */
    padding: 0%;
}

ul {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
    /* list-style-image: url("https://static9.depositphotos.com/1029663/1206/i/600/depositphotos_12065279-stock-photo-green-check-mark-symbol.jpg"); */
}

/* ul li:nth-child(2) {
    color: red;
} */

ul li:nth-child(odd) {
    color: red;
}

ul ::marker {
    color: black;
    font-family: fantasy;
    font-size: 1em;
    content: "Only $5 >> ";
}

